@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
 --font: 'Montserrat', sans-serif;
 --zero: 0;
 --rel: relative;
 --abs: absolute;
}

body {
    margin: var(--zero);
    padding: var(--zero);
    font-family: var(--font);
    text-transform: uppercase;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.qb-idcard {
    position: var(--abs);
    width: 50vh;
    height: 25vh;
    right: 3vh;
    top: 25vh;
    border: 0.4vh solid #0000003b;
    border-radius: 2vh;
    display: none;
}

.qb-idcard .header {
    text-align: center;
    font-size: 2vh;
    font-weight: 600;
    width: 50vh;
}

.qb-idcard .header img{
    width: 6vh;
    margin-left: -1vh;
}

.qb-idcard .header span:first-of-type{
    position: var(--rel);
    top: -2vh;
    left: -3vh;
}

.qb-idcard .header span{
    position: var(--rel);
    top: -2vh;
    left: 2vh;
}

.qb-idcard .icon {
    position: absolute;
    width: 15vh;
    height: 15vh;
    left: 3vh;
}

.qb-idcard .icon #seximg{
    width: 15vh;
    border: 0.1vh solid #00000000;
    border-radius: 9vh;
    background: #65656545;
    opacity: 0.8;
}

.qb-idcard .text {
    position: absolute;
    width: 25vh;
    height: 25vh;
    left: 14vh;
    top: 4vh;
}

.qb-idcard .text ul li {
    margin: 0.3vh;
    list-style-type: none;
    font-size: 1vh;
    text-align: right;
    font-weight: 900;
    border-bottom: 0.1vh solid #00000012;
}

.qb-idcard .text ul span.info {
    font-size: 1vh;
    font-weight: 800;
    padding: 2vh;
}

.slide-in {
    animation: slide-in 0.4s forwards;
}

.slide-out {
    animation: slide-out 0.4s forwards;
}

@keyframes slide-in {
    0% {
        right: 7vh;
    }
    100% {
        right: 1vh;
    }
}

@keyframes slide-out {
    0% {
        right: 1vh;
    }
    100% {
        right: 7vh;
    }
}